.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'menu main main main main';
}

.grid-container mat-toolbar {
  grid-area: header;
}

.grid-container mat-sidenav-container {
  grid-area: menu;

  min-height: 600px;
}

.grid-container div.main {
  grid-area: main;

  min-height: 600px;
}
